
<link rel="stylesheet" href="css/style.css">

<div class= "centerAll">
<div class = "padTop">
<div class = "padBottom">
<header class="headerColor"><center>Welcome to Hangman</center></header>

<body>
  
<%=yield%>

</ body>
<footer class="foot" style="margin-top: 60vh">
<center>Mined Minds: Train the Trainer</center>
</div>

</footer>

