.centerAll {
	text-align: center;	
}

.headerColor {
	font-size: 44;
    color: blueviolet;
    padding-bottom: 9vh;
}

.padTop{
	padding-top: 2vh;
}

.foot {
	margin-top: 5vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}